body {
  font-size: 1rem
}
.app-layout {
  display: flex;
  flex: 1;
  .main {
    flex: 1;
    padding: 10px;
    padding-top: 30px;
    margin-left: $sidebar-width;
  }
}

.heading {
  font-weight: 600;
}

.red {
  color: $primary-color
}

@media only screen and (max-width: 1000px) {
  .app-layout {
    .main {
      margin: 10px;
    }
  }
  .overlay.open {
    display: block;
    flex: 1;
    position: absolute;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(232, 230, 230, 0.44);
    z-index: 4;
    transition: all 0.3s linear;
    height: 100%;
    width: 100%;
  }
}
