.breadcrumb {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 5px;
  padding-left: 30px;
  z-index: 20;
  .hambuger {
    display: none;
  }
}


@media only screen and (max-width: 1000px) {
  .breadcrumb {
   .hambuger {
     display: inline-block;
     margin-right: 20px;
   }
  }
}
