.card {
  flex: 1;
  padding: 25px 15px;
  margin: 20px 0px;
  background-color: $white;
  border: 0px;
  // box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  .body {
    margin: 20px 0px;
    padding: 10px 15px;
   
  }
}

