.heading-group {
    color: #FF3C3C;;
    font-size: 24px;
    font-weight: bold;
}

.group-tips {
    color: #718096;;
    font-size: 14px;
    font-weight: bold;
}

.path-txt {
    color: #718096;
    font-size: 16px;
}

.group-link {
    position: relative;
    width: 50%;
    height: 30%;
    background: #FF3C3C;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    
}

@media screen and (max-width: 560px) {
    .group-link {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin: 20px;
        padding-bottom: 50%;
        position: relative;
        height: 0;
    }
}

.goto {
    color: #FFFFFF;
    font-size: 16px;
}