.home {
  display: block;
  .bookmark-container {
    height: 100px;
    margin-bottom: 20px;
    user-select: none;
    .bookmark {
      background-image: url(../../images/bookmark_24px.svg);
      background-position: center;
      padding: 20px 10px ;
      background-size: cover;
      color: $white;
      font-family: 'Roboto Mono', monospace;
    }
  }
  .module-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    .circle {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: $primary-color;
    }
  }

  .timeline {
    align-items: center;
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
    }
  }
  .modules {
    margin-left: 35px;
  }

  .module-text {
    font-size: 12px;
    font-weight: 600;
  }

  .heading-intro {
    font-size: 25px;
  }

  .heading {
    font-size: 16px;
  }


  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .count {
      color: $primary-color;
      font-family: 'Roboto Mono', monospace;
      font-weight: 400;
      margin-right: 20px;
    }
  }
}