body {
    background-color: #F7F7F7;
}

.Eczar {
  font-family: 'Eczar', serif;
}


.login {
  min-height: 100vh;
  .login_new {
    font-size: 11px;
    font-weight: 600;

  }
  // .login-img {
  //   object-fit: cover;
  //   min-height: 60vh;
  //   align-items: center;
  //   .login-img {
  //     img {
  //       width: 20%;
  //     }
  //   }
  // }
  .auth-form {
    padding: 10%;
    background-color: white;
    .login_text {
      color: black;
      font-weight: 800;
      font-size: 36px;
      .form-control {
        margin-bottom: 20px;
      }
      
   
    }
  }
}

.login-img {
  width: 70%;
  height: 20%;
}

@media screen and (max-width: 560px) {
  .img-container {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 10px;
      margin-left: 50px;
  }
}
