.design {
    font-size: 14px;
    color: #718096;
    line-height: 22px;
}

.Nunito {
    font-family: 'Nunito';
}

.Monserrat {
    font-family: 'Montserrat';
}

.border {
    border-color: #EDF0F2;
    opacity: 0.1px;
}

.week {
    color: #FF3C3C;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

   
.week_design {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.week_hint {
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
}

.week_url {
    padding: 5px;
    
}

.week_access {
    font-size: 11px;
    font-weight: 300;
}

.objective {
    font-size: 16px;
    font-weight: bold;
}