.heading {
    font-size: 14px;
    
}

.project1 {
    color: #FF3C3C;
    font-size: 14px;
    font-weight: bold;
}

.project-week {
    width: 20px;
    height: 20px;
    border-radius: 20%;
    background: red;
    font-size: 15px;
    font-weight: bold;
    color: #FFF;
}

.project-link {
    font-size: 11px;
    font-weight: 500;
}

.link {
    width: 30px;;
    height: 30px;
}

.path {
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 100%;
    background: red;
}

.date-time {
    font-weight: bold;
    color: #718096;
}