body {
    background-color: #F7F7F7;
}

.Eczar {
  font-family: 'Eczar', serif;
}


.login {
  min-height: 100vh;
  .login_new {
    font-size: 11px;
    font-weight: 600;

  }
  
  .auth-form {
    padding: 5%;
    background-color: white;
    .login_text {
      color: black;
      font-weight: 800;
      font-size: 36px;   
    }
  }
}

.signup-img {
  width: 80%;
  height: 50%;
  position: absolute;
    left: 0;
    bottom: 30%;
}

@media screen and (max-width: 560px) {
  .signup-img {
      position: relative;
      width: 100%;
      height: 0%;
      padding: 0px;
      margin: 0px;
  }
}
