@media screen and (max-width: 560px) {
.video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0;
      
  
    &:before {
      content: "";
      display: block;
      padding-top: 56.25%; // 9 / 16 in percent
    }}
  
    .video {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  
      .video-player {
        max-width: 100%;
        height: auto;
      }
    }
  }
