@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Roboto+Mono:400,500&display=swap');
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,600i,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Eczar:400,500,600,700,800&display=swap");

// Utils
@import './utils/variables';
@import './utils/grid';
@import './utils/applayout';

// Components
@import './components/sidebar';
@import './components/card';
@import './components/breadcrumb';
@import './components/progress';
 


// Views
@import './views/home';
@import './views/group';
@import './views/project';
@import './views/login';
@import './views//signup';
@import './views/module';
@import './views/video';